.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.start_button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #444;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}