.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.start-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #444;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
}
.start-button:hover {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
}

.hit-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #606060;
    border: 2px solid rgb(0, 220, 18);
    border-radius: 6px;
    cursor: pointer;
}

.hit-button:hover {
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.7);
}

.stand-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #606060;
    border: 2px solid red;
    border-radius: 6px;
    cursor: pointer;
}

.stand-button:hover {
    box-shadow: 0 0 20px 5px red;
}

.double-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #606060;
    border: 2px solid #ffcc00;
    border-radius: 6px;
    cursor: pointer;
}

.double-button:hover {
    box-shadow: 0 0 20px 5px #ffcc00;
}