.player-cards {
    display: flex;
    justify-content: center;
    height: 30%;
    align-items: center;
}

.player-points {
    color: rgb(254, 254, 254);
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    width: 2%;
    /* aspect-ratio: 1 / 1; */
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}