.Card {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: auto;
    height: 70%;
    aspect-ratio: 2 / 3;
    margin-left: -20px;
    background-size: cover;
    overflow: hidden;

}

.card-hidden {
    opacity: 0;
    transform: translate(35vw, -25vh);
}
.card-hidden-diller{
    opacity: 0;
    transform: translate(35vw, 25vh);
}

.card-animate {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.7s ease-in-out;
}

.inverted {
    background-image: url("../../assets/card_back.png");
}
.not-inversed {
    animation: inverse 0.5s linear;
}

@keyframes inverse {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.Deck>.Card {
    margin-left: 0px;
    ;
}

.Card:first-child {
    margin-left: 0;
}
