.Deck {
    display: flex;
    justify-content: right;
    gap: 10px;
    /* background-color: rgb(129, 42, 42); */
    height: 30%;
    align-items: center;
}

.num_of_cards {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
    font-size: 1rem;
    height: 10%;
    padding: 10px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}